/* SVG elements */
.mod-mapmodules-map-point {
    cursor: grab;
}

.mod-mapmodules-map-point:hover {
    border: blue;
}

.mod-mapmodules-map-point-moving {
    cursor: grabbing;
}

/* Image panel */
.mod-mapmodules-map-container {
    width: 80%;
    position: relative;
    margin: 5px auto;
}

.mod-mapmodules-map-container-editing {
    cursor: crosshair;
}

.mod-mapmodules-map-img {
    position: relative;
    width: 100%;
    top: 0px;
    left: 0px;
}


/* Positionning the image and svg */
.mod-mapmodules-icons-panel,
.mod-mapmodules-map-svg {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    top: 0px;
    left: 0px;
}

/* Icons incrustation */
.mod-mapmodules-icons-panel {
    left: 10px;
    display: none;
}

.mod-mapmodules-activity-icon {
    height: 50px;
    margin-bottom: 5px;
}

/* Drawing buttons */
.mod-mapmodules-drawing-btn-panel {
    width: 80%;
    text-align: center;
    margin: auto;
    display: none;
}

.mod-mapmodules-drawing-btn-panel ~ div {
    clear: both;
}

#action-btn-panel {
    float: left;
}

#style-btn-panel {
    float: right;
}

.mod-mapmodules-drawing-btn {
    width: 100px;
    height: 50px;
    border-width: 0px;
    cursor: pointer;
    background-color: white;
}

.mod-mapmodules-drawing-btn:hover {
    margin-top: 0;
}

.mod-mapmodules-drawing-btn span {
    color: blue;
    font-size: 30px;
}

.mod-mapmodules-drawing-btn img {
    vertical-align: baseline;
}

.mod-mapmodules-drawing-btn:focus,
.mod-mapmodules-drawing-btn:active,
.mod-mapmodules-drawing-btn:hover {
    background: #eee;
}

.mod-mapmodules-drawing-btn-selected,
.mod-mapmodules-drawing-btn-selected:hover {
    border: 3px blue solid;
    cursor: inherit;
    background: #eee;
}

.mod-mapmodules-drawing-btn-selected:hover {
    border: 3px blue solid;
}

/* Hide unwanted elements from file picker */
.ffilepicker > p {
    display: none;
}

.form-filetypes-descriptions {
    display: none;
}