.mod-mapmodules-standard-maps-modal {
    z-index: 10000;/*Fix position issue: modal is behind the backdrop*/
    width: auto;
}

.mod-mapmodules-standard-maps-modal-dialog {
    min-width: 60%;
}

.mod-mapmodules-standard-maps-modal-container {
    width: 100%;
    background-color: #F5EFEF;
    padding: 0;
}

.mod-mapmodules-standard-maps-modal-header {
    background-color: #718DA3;
}

.mod-mapmodules-standard-maps-modal-header h3 {
    color: white;
}

.mod-mapmodules-standard-map {
    width:19%;
    min-width: 100px;
    height: auto;
    cursor:pointer;
}
.mod-mapmodules-standard-map:hover {
    filter: brightness(80%);

}
