@import url(http://fonts.googleapis.com/css?family=Quicksand);

.map {
    width:100%;
    display:table;
    position:relative;
    background-color:#B1BF74;

}

.mod-indent-outer {
    display:block;
}

.contentafterlink {
    margin-left:0px;
}

@media screen and (max-width: 640px) {
    .containermap{
        padding:0;
        display:table-cell;
        width:100%;
        background-color:#eeeeee;
        background-image:url(/mod/mapmodules/pix/barre.png);
        background-position:15px top;
        background-size: 60px 100%;
        background-repeat : repeat-y;

    }
    .map .toto {
        position:relative;
        width:100%;
        display:none;
        background-color:#B1BF74;
    }
    /*.containermap .link:focus+div {
        display:block;
        color: white;
        z-index:100;
    }*/
    .map .linkfocus {
        display:block;
        color: white;
        z-index:100;
    }
}

@media screen and (min-width: 640px) {
    .containermap{
        padding:0;
        display:table-cell;
        width:320px;
        background-color:#eeeeee;
        background-image:url(/mod/mapmodules/pix/barre.png);
        background-position:15px top;
        background-size: 60px 100%;
        background-repeat : repeat-y;
    }
    .map .toto {
        /*position:absolute;
        left:320px;
        top:0px;*/
        width:auto;
        display:none;
        background-color:#B1BF74;
    }
    /*.containermap .link:focus+div {
        display:inline-block;
        color: white;
        z-index:100;
    }*/
    .map .linkfocus {
        display:block;
        color: white;
        z-index:100;
    }

}

.containermap .link:hover{
    background-color:#dddddd;
    padding:0;
    margin:0;
}

.containermapul {
    padding:0;
        padding-left:0;
        padding-right:0;
    margin:0;
    overflow:visible;
}

.containermap li {
    list-style-type:none;
}

.containermap .link {
    background-image:url(/mod/mapmodules/pix/icons/void.png),url(/mod/mapmodules/pix/barre.png);
    background-position:15px center, 15px center;
    background-repeat : no-repeat,no-repeat;
    background-size: auto 60px,60px 100%;
    text-decoration:none;
    color: black;
    width:100%;
    height:100%;

    display:block;
}
.containermap .linkchecked {
    background-image:url(/mod/mapmodules/pix/icons/checked.png),url(/mod/mapmodules/pix/barre.png);
    background-position:15px center, 15px center;
    background-repeat : no-repeat,no-repeat;
    background-size: auto 60px,60px 100%;
}
.containermap .locked {
    background-image:url(/mod/mapmodules/pix/icons/locked.png),url(/mod/mapmodules/pix/barre.png);
    background-position:15px center, 15px center;
    background-repeat : no-repeat,no-repeat;
    background-size: auto 60px,60px 100%;
}
.containermap .link:focus{
    background-color:#e0e0e0;
    color:#B1BF74;
    outline: 0;
    background-image:url(/mod/mapmodules/pix/icons/void.png), url(/mod/mapmodules/pix/triangle.png),url(/mod/mapmodules/pix/barre.png);
    background-position:15px center, right center, 15px center;
    background-repeat : no-repeat, no-repeat, no-repeat;
    background-size: auto 60px, auto 60px,60px 100%;
    font-weight:700;
}
.containermap .linkchecked:focus{
    background-image:url(/mod/mapmodules/pix/icons/checked.png), url(/mod/mapmodules/pix/triangle.png),url(/mod/mapmodules/pix/barre.png);
    background-position:15px center, right center, 15px center;
    background-repeat : no-repeat, no-repeat, no-repeat;
    background-size: auto 60px, auto 60px,60px 100%;
}
.containermap .locked:focus{
    background-image:url(/mod/mapmodules/pix/icons/locked.png), url(/mod/mapmodules/pix/triangle.png),url(/mod/mapmodules/pix/barre.png);
    background-position:15px center, right center, 15px center;
    background-repeat : no-repeat, no-repeat, no-repeat;
    background-size: auto 60px, auto 60px,60px 100%;
}
.map .btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-align:center;
}

.map .btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.containermap .spantitle{
    display:inline-block;
    padding:20px;
    padding-left:80px;
}

input[type="button"].mod-mapmodules-invalidformbtn {
    opacity: 0.25;
    cursor: unset;
}
#id_submitbutton.mod-mapmodules-invalidformbtn:hover,
#id_submitbutton2.mod-mapmodules-invalidformbtn:hover
{
    background-color: #158cba;
}