<div id="container_<?php echo $gameid; ?>" style="width:80%;position:relative;margin:0 auto;">
    <img id="back_<?php echo $gameid; ?>" style="width:100%;" src="<?php echo $map_src; ?>" alt="bg">
    <svg id="path_container_<?php echo $gameid; ?>" style='position:absolute;top:0px;left:0px;' viewBox="0 0 <?php echo $game_width . " ". $game_height;?>" version="1.1" >
      <path id="path" fill="none" d="<?php echo $map_path; ?>" />
    </svg>
</div>
<script src="<?php echo $CFG->wwwroot; ?>/mod/mapmodules/js/maploader.js"></script>
<script>
YUI().use("node-base", function(Y){
    Y.on("domready", function(){
      maploader({
        mapid: "<?php echo $mapmodule->id; ?>",
        gameid: "<?php echo $gameid; ?>",
        gamewidth: "<?php echo $game_width; ?>",
        mapbuttoncheck: "<?php echo $map_button_check; ?>",
        mapbuttonquestion: "<?php echo $map_button_question; ?>",
        mapbuttonlock: "<?php echo $map_button_lock; ?>",
        buttonwidth: "<?php echo $button_width; ?>"
      })
    })
})

</script>
